In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("insurance_data.csv")
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [5]:
x = df["age"]
y=df["bought_insurance"]
plt.scatter()

TypeError: scatter() missing 1 required positional argument: 'x'